/*clear fix*/
/*http://www.positioniseverything.net/easyclearing.html*/
/*just add a class of clearfix to that which you wish to clear*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ie6 .clearfix, .ie7 .clearfix, .ie8 .clearfix {
	zoom: 1; /*fixes the clearfix stuff in IE*/
}

/**
 * Put your CSS below this comment and be sure to give yourself credit below!
 * Author: 
 **/


/**
 * Define your base colours here if you like, just for reference.
 * 
 *
 */





